name: docker-release
on: [push, pull_request]
jobs:
  jetson-pytorch:
    runs-on: ubuntu-24.04-arm
    environment:
      name: "release"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
      - name: Change for main
        id: change_version
        run: if [ "${{ steps.get_version.outputs.VERSION }}" == "main" ]; then echo ::set-output name=VERSION::latest; else echo ::set-output name=VERSION::${{ steps.get_version.outputs.VERSION }}; fi
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.pytorch
          platforms: linux/arm64
          push: true
          tags: anarkiwi/jetson-pytorch:${{ steps.change_version.outputs.VERSION }}
          build-args: |
            JETPACK=r36.4.0
            PYTORCH_VERSION=${{ steps.change_version.outputs.VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
        if: github.repository == 'anarkiwi/jetson-pytorch' && github.event_name == 'push'
